<app-header></app-header>

<h1 [ngStyle]="{'font-family': 'Bangers'}">Welcome to UWEAR the best shoe store!!!</h1>

<app-shoeselector></app-shoeselector>

<!-- <p>{{id}}</p> -->
<!-- 
    //Interval set to disable button
    <button class = "btn-circle" [disabled] = "isDisabled" >
Disable button!

</button> -->


<!-- 
    //Event binding
    <input type="text"  (input) = "onInput($event)" name="fname">
<p>{{firstName}}</p>
    //Two-way data binding
<input type="text"  [(ngModel)] = "lastName"  name="lname">
<p>{{lastName}}</p> -->
<app-footer></app-footer>


