<div class="row" id = "middle">
    <div class="col-sm-4">
      <button  (click)="back()" 
    
            type="button" 
            class="btn-circle" >
            <img class="img-rounded"
                   
                    src="assets/img/backbutton.png"/>
  </button>
  
  
      <img width = "300px" height = "300px"   class="img-circle"  [src] ="shoesImgArr[num]">
      <button  (click)="forward()" 
         
            type="button" 
            class="btn-circle">
            <img class="img-rounded"
                   
                    src="assets/img/forwardbutton.png"/>
  </button>
  
  </div>


</div>
